// Made based on https://cdnjs.cloudflare.com/ajax/libs/uikit/3.22.1/css/uikit.css

/**
  xs	0px (xsmall)
  sm	576px (small)
  md	768px (medium)
  lg	992px (large)
  xl	1200px (xlarge)

*/


.model-renderer-child {
  border: 2px solid red;
}


// ==============================================================================================
/** Base =============================================== */

:root {
  --ion-font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
html, body, * {
  font-family: var(--ion-font-family);
  font-style: normal;

  // Ajuste para label floating com a fonte poppins
  .input-label-placement-floating {
    label {
      line-height: 1.2rem !important;
    }
  }
  ion-select.select-label-placement-floating::part(label) {
    line-height: 1.2rem !important;
  }
}

a {
  color: var(--ion-color-dark);
  font-weight: 500;
}

// remove auto fill background
input,
select,
textarea {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active,
  &:-webkit-autofill {

    border:none !important;
    -webkit-text-fill-color: var(--ion-color-primary) !important;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    box-shadow: 0 0 0px 1000px #FFFFFF inset;
    -webkit-transition: box-shadow 50s ease-in-out;
    transition: box-shadow 50s ease-in-out;
  }
}

.dcf-hidden {
  display: none !important;
}

.dcf-invisible {
  visibility: hidden;
}

.dcf-disabled {
  opacity: 0.7;
  pointer-events: none;
  touch-action: none;
  * {
    pointer-events: none;
    touch-action: none;
  }
}

/* ========================================================================
   Component: overrides
 ========================================================================== */
 ion-card {
  ngx-decaf-empty-state ion-card {
    box-shadow: none;
  }
}

/* ========================================================================
   Component: Margin
 ========================================================================== */
/*
 * Default
 */
 .dcf-margin {
  margin-bottom: 20px;
}
* + .dcf-margin {
  margin-top: 20px !important;
}
.dcf-margin-top {
  margin-top: 20px !important;
}
.dcf-margin-bottom {
  margin-bottom: 20px !important;
}
.dcf-margin-left {
  margin-left: 20px !important;
}
.dcf-margin-right {
  margin-right: 20px !important;
}
/* XSmall
 ========================================================================== */
.dcf-margin-xsmall {
  margin-bottom: 5px;
}
* + .dcf-margin-xsmall {
  margin-top: 5px !important;
}
.dcf-margin-xsmall-top {
  margin-top: 5px !important;
}
.dcf-margin-xsmall-bottom {
  margin-bottom: 5px !important;
}
.dcf-margin-xsmall-left {
  margin-left: 5px !important;
}
.dcf-margin-xsmall-right {
  margin-right: 5px !important;
}
/* Small
 ========================================================================== */
.dcf-margin-small {
  margin-bottom: 10px;
}
* + .dcf-margin-small {
  margin-top: 10px !important;
}
.dcf-margin-small-top {
  margin-top: 10px !important;
}
.dcf-margin-small-bottom {
  margin-bottom: 10px !important;
}
.dcf-margin-small-left {
  margin-left: 10px !important;
}
.dcf-margin-small-right {
  margin-right: 10px !important;
}
/* Medium
 ========================================================================== */
.dcf-margin-medium {
  margin-bottom: 40px;
}
* + .dcf-margin-medium {
  margin-top: 40px !important;
}
.dcf-margin-medium-top {
  margin-top: 40px !important;
}
.dcf-margin-medium-bottom {
  margin-bottom: 40px !important;
}
.dcf-margin-medium-left {
  margin-left: 40px !important;
}
.dcf-margin-medium-right {
  margin-right: 40px !important;
}
/* Large
 ========================================================================== */
.dcf-margin-large {
  margin-bottom: 40px;
}
* + .dcf-margin-large {
  margin-top: 40px !important;
}
.dcf-margin-large-top {
  margin-top: 40px !important;
}
.dcf-margin-large-bottom {
  margin-bottom: 40px !important;
}
.dcf-margin-large-left {
  margin-left: 40px !important;
}
.dcf-margin-large-right {
  margin-right: 40px !important;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-large {
    margin-bottom: 70px;
  }
  * + .dcf-margin-large {
    margin-top: 70px !important;
  }
  .dcf-margin-large-top {
    margin-top: 70px !important;
  }
  .dcf-margin-large-bottom {
    margin-bottom: 70px !important;
  }
  .dcf-margin-large-left {
    margin-left: 70px !important;
  }
  .dcf-margin-large-right {
    margin-right: 70px !important;
  }
}
/* XLarge
 ========================================================================== */
.dcf-margin-xlarge {
  margin-bottom: 70px;
}
* + .dcf-margin-xlarge {
  margin-top: 70px !important;
}
.dcf-margin-xlarge-top {
  margin-top: 70px !important;
}
.dcf-margin-xlarge-bottom {
  margin-bottom: 70px !important;
}
.dcf-margin-xlarge-left {
  margin-left: 70px !important;
}
.dcf-margin-xlarge-right {
  margin-right: 70px !important;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-xlarge {
    margin-bottom: 140px;
  }
  * + .dcf-margin-xlarge {
    margin-top: 140px !important;
  }
  .dcf-margin-xlarge-top {
    margin-top: 140px !important;
  }
  .dcf-margin-xlarge-bottom {
    margin-bottom: 140px !important;
  }
  .dcf-margin-xlarge-left {
    margin-left: 140px !important;
  }
  .dcf-margin-xlarge-right {
    margin-right: 140px !important;
  }
}
/* Auto
 ========================================================================== */
.dcf-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.dcf-margin-auto-top {
  margin-top: auto !important;
}
.dcf-margin-auto-bottom {
  margin-bottom: auto !important;
}
.dcf-margin-auto-left {
  margin-left: auto !important;
}
.dcf-margin-auto-right {
  margin-right: auto !important;
}
.dcf-margin-auto-vertical {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-margin-auto\@s {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@s {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@s {
    margin-right: auto !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .dcf-margin-auto\@m {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@m {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@m {
    margin-right: auto !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-auto\@l {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@l {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@l {
    margin-right: auto !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .dcf-margin-auto\@xl {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@xl {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@xl {
    margin-right: auto !important;
  }
}
/* Remove
 ========================================================================== */
.dcf-margin-remove {
  margin: 0 !important;
}
.dcf-margin-remove-top {
  margin-top: 0 !important;
}
.dcf-margin-remove-bottom {
  margin-bottom: 0 !important;
}
.dcf-margin-remove-left {
  margin-left: 0 !important;
}
.dcf-margin-remove-right {
  margin-right: 0 !important;
}
.dcf-margin-remove-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.dcf-margin-remove-adjacent + *,
.dcf-margin-remove-first-child > :first-child {
  margin-top: 0 !important;
}
.dcf-margin-remove-last-child > :last-child {
  margin-bottom: 0 !important;
}
/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-margin-remove-left\@s {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@s {
    margin-right: 0 !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .dcf-margin-remove-left\@m {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@m {
    margin-right: 0 !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-remove-left\@l {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@l {
    margin-right: 0 !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .dcf-margin-remove-left\@xl {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@xl {
    margin-right: 0 !important;
  }
}
/* ========================================================================
   Component: Padding
 ========================================================================== */
.dcf-padding {
  padding: 30px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-padding {
    padding: 40px;
  }
}
/* Small
 ========================================================================== */
.dcf-padding-small {
  padding: 15px;
}
/* Large
 ========================================================================== */
.dcf-padding-large {
  padding: 40px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-padding-large {
    padding: 70px;
  }
}
/* Remove
 ========================================================================== */
.dcf-padding-remove {
  padding: 0 !important;
}
.dcf-padding-remove-top {
  padding-top: 0 !important;
}
.dcf-padding-remove-bottom {
  padding-bottom: 0 !important;
}
.dcf-padding-remove-left {
  padding-left: 0 !important;
}
.dcf-padding-remove-right {
  padding-right: 0 !important;
}
.dcf-padding-remove-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dcf-padding-remove-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* ========================================================================
   Component: Width
 ========================================================================== */
/* Equal child widths
 ========================================================================== */
 [class*="dcf-child-width"] > * {
  box-sizing: border-box;
  width: 100%;
}
.dcf-child-width-1-2 > * {
  width: 50%;
}
.dcf-child-width-1-3 > * {
  width: calc(100% / 3);
}
.dcf-child-width-1-4 > * {
  width: 25%;
}
.dcf-child-width-1-5 > * {
  width: 20%;
}
.dcf-child-width-1-6 > * {
  width: calc(100% / 6);
}
.dcf-child-width-auto > * {
  width: auto;
}
/*
 * 1. Reset the `min-width`, which is set to auto by default, because
 *    flex items won't shrink below their minimum intrinsic content size.
 *    Using `1px` instead of `0`, so items still wrap into the next line,
 *    if they have zero width and padding and the predecessor is 100% wide.
 */
.dcf-child-width-expand > :not([class*="dcf-width"]) {
  flex: 1;
  /* 1 */
  min-width: 1px;
}
/* Phone landscape and bigger */
@media (min-width: 572px) {
  .dcf-child-width-1-1\@s > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@s > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@s > * {
    width: calc(100% / 3);
  }
  .dcf-child-width-1-4\@s > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@s > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@s > * {
    width: calc(100% / 6);
  }
  .dcf-child-width-auto\@s > * {
    width: auto;
  }
  .dcf-child-width-expand\@s > :not([class*="dcf-width"]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@s > :not([class*="dcf-width"]),
  .dcf-child-width-1-2\@s > :not([class*="dcf-width"]),
  .dcf-child-width-1-3\@s > :not([class*="dcf-width"]),
  .dcf-child-width-1-4\@s > :not([class*="dcf-width"]),
  .dcf-child-width-1-5\@s > :not([class*="dcf-width"]),
  .dcf-child-width-1-6\@s > :not([class*="dcf-width"]),
  .dcf-child-width-auto\@s > :not([class*="dcf-width"]) {
    flex: initial;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .dcf-child-width-1-1\@m > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@m > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@m > * {
    width: calc(100% / 3);
  }
  .dcf-child-width-1-4\@m > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@m > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@m > * {
    width: calc(100% / 6);
  }
  .dcf-child-width-auto\@m > * {
    width: auto;
  }
  .dcf-child-width-expand\@m > :not([class*="dcf-width"]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@m > :not([class*="dcf-width"]),
  .dcf-child-width-1-2\@m > :not([class*="dcf-width"]),
  .dcf-child-width-1-3\@m > :not([class*="dcf-width"]),
  .dcf-child-width-1-4\@m > :not([class*="dcf-width"]),
  .dcf-child-width-1-5\@m > :not([class*="dcf-width"]),
  .dcf-child-width-1-6\@m > :not([class*="dcf-width"]),
  .dcf-child-width-auto\@m > :not([class*="dcf-width"]) {
    flex: initial;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-child-width-1-1\@l > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@l > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@l > * {
    width: calc(100% / 3);
  }
  .dcf-child-width-1-4\@l > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@l > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@l > * {
    width: calc(100% / 6);
  }
  .dcf-child-width-auto\@l > * {
    width: auto;
  }
  .dcf-child-width-expand\@l > :not([class*="dcf-width"]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@l > :not([class*="dcf-width"]),
  .dcf-child-width-1-2\@l > :not([class*="dcf-width"]),
  .dcf-child-width-1-3\@l > :not([class*="dcf-width"]),
  .dcf-child-width-1-4\@l > :not([class*="dcf-width"]),
  .dcf-child-width-1-5\@l > :not([class*="dcf-width"]),
  .dcf-child-width-1-6\@l > :not([class*="dcf-width"]),
  .dcf-child-width-auto\@l > :not([class*="dcf-width"]) {
    flex: initial;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .dcf-child-width-1-1\@xl > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@xl > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@xl > * {
    width: calc(100% / 3);
  }
  .dcf-child-width-1-4\@xl > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@xl > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@xl > * {
    width: calc(100% / 6);
  }
  .dcf-child-width-auto\@xl > * {
    width: auto;
  }
  .dcf-child-width-expand\@xl > :not([class*="dcf-width"]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@xl > :not([class*="dcf-width"]),
  .dcf-child-width-1-2\@xl > :not([class*="dcf-width"]),
  .dcf-child-width-1-3\@xl > :not([class*="dcf-width"]),
  .dcf-child-width-1-4\@xl > :not([class*="dcf-width"]),
  .dcf-child-width-1-5\@xl > :not([class*="dcf-width"]),
  .dcf-child-width-1-6\@xl > :not([class*="dcf-width"]),
  .dcf-child-width-auto\@xl > :not([class*="dcf-width"]) {
    flex: initial;
  }
}
/* Single Widths
 ========================================================================== */
/*
 * 1. `max-width` is needed for the pixel-based classes
 */
[class*="dcf-width"] {
  box-sizing: border-box;
  width: 100%;
  /* 1 */
  max-width: 100%;
}
/* Halves */
.dcf-width-1-2 {
  width: 50%;
}
/* Thirds */
.dcf-width-1-3 {
  width: calc(100% / 3);
}
.dcf-width-2-3 {
  width: calc(200% / 3);
}
/* Quarters */
.dcf-width-1-4 {
  width: 25%;
}
.dcf-width-3-4 {
  width: 75%;
}
/* Fifths */
.dcf-width-1-5 {
  width: 20%;
}
.dcf-width-2-5 {
  width: 40%;
}
.dcf-width-3-5 {
  width: 60%;
}
.dcf-width-4-5 {
  width: 80%;
}
/* Sixths */
.dcf-width-1-6 {
  width: calc(100% / 6);
}
.dcf-width-5-6 {
  width: calc(500% / 6);
}
/* Pixel */
.dcf-width-small {
  width: 150px;
}
.dcf-width-medium {
  width: 300px;
}
.dcf-width-large {
  width: 450px;
}
.dcf-width-xlarge {
  width: 600px;
}
.dcf-width-2xlarge {
  width: 750px;
}
/* Auto */
.dcf-width-auto {
  width: auto;
}
/* Expand */
.dcf-width-expand {
  flex: 1;
  min-width: 1px;
}
/* Phone landscape and bigger */
@media (min-width: 572px) {
  /* Whole */
  .dcf-width-1-1\@s {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@s {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@s {
    width: calc(100% / 3);
  }
  .dcf-width-2-3\@s {
    width: calc(200% / 3);
  }
  /* Quarters */
  .dcf-width-1-4\@s {
    width: 25%;
  }
  .dcf-width-3-4\@s {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@s {
    width: 20%;
  }
  .dcf-width-2-5\@s {
    width: 40%;
  }
  .dcf-width-3-5\@s {
    width: 60%;
  }
  .dcf-width-4-5\@s {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@s {
    width: calc(100% / 6);
  }
  .dcf-width-5-6\@s {
    width: calc(500% / 6);
  }
  /* Pixel */
  .dcf-width-small\@s {
    width: 150px;
  }
  .dcf-width-medium\@s {
    width: 300px;
  }
  .dcf-width-large\@s {
    width: 450px;
  }
  .dcf-width-xlarge\@s {
    width: 600px;
  }
  .dcf-width-2xlarge\@s {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@s {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@s {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@s,
  .dcf-width-1-2\@s,
  .dcf-width-1-3\@s,
  .dcf-width-2-3\@s,
  .dcf-width-1-4\@s,
  .dcf-width-3-4\@s,
  .dcf-width-1-5\@s,
  .dcf-width-2-5\@s,
  .dcf-width-3-5\@s,
  .dcf-width-4-5\@s,
  .dcf-width-1-6\@s,
  .dcf-width-5-6\@s,
  .dcf-width-small\@s,
  .dcf-width-medium\@s,
  .dcf-width-large\@s,
  .dcf-width-xlarge\@s,
  .dcf-width-2xlarge\@s,
  .dcf-width-auto\@s {
    flex: initial;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  /* Whole */
  .dcf-width-1-1\@m {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@m {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@m {
    width: calc(100% / 3);
  }
  .dcf-width-2-3\@m {
    width: calc(200% / 3);
  }
  /* Quarters */
  .dcf-width-1-4\@m {
    width: 25%;
  }
  .dcf-width-3-4\@m {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@m {
    width: 20%;
  }
  .dcf-width-2-5\@m {
    width: 40%;
  }
  .dcf-width-3-5\@m {
    width: 60%;
  }
  .dcf-width-4-5\@m {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@m {
    width: calc(100% / 6);
  }
  .dcf-width-5-6\@m {
    width: calc(500% / 6);
  }
  /* Pixel */
  .dcf-width-small\@m {
    width: 150px;
  }
  .dcf-width-medium\@m {
    width: 300px;
  }
  .dcf-width-large\@m {
    width: 450px;
  }
  .dcf-width-xlarge\@m {
    width: 600px;
  }
  .dcf-width-2xlarge\@m {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@m {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@m {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@m,
  .dcf-width-1-2\@m,
  .dcf-width-1-3\@m,
  .dcf-width-2-3\@m,
  .dcf-width-1-4\@m,
  .dcf-width-3-4\@m,
  .dcf-width-1-5\@m,
  .dcf-width-2-5\@m,
  .dcf-width-3-5\@m,
  .dcf-width-4-5\@m,
  .dcf-width-1-6\@m,
  .dcf-width-5-6\@m,
  .dcf-width-small\@m,
  .dcf-width-medium\@m,
  .dcf-width-large\@m,
  .dcf-width-xlarge\@m,
  .dcf-width-2xlarge\@m,
  .dcf-width-auto\@m {
    flex: initial;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Whole */
  .dcf-width-1-1\@l {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@l {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@l {
    width: calc(100% / 3);
  }
  .dcf-width-2-3\@l {
    width: calc(200% / 3);
  }
  /* Quarters */
  .dcf-width-1-4\@l {
    width: 25%;
  }
  .dcf-width-3-4\@l {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@l {
    width: 20%;
  }
  .dcf-width-2-5\@l {
    width: 40%;
  }
  .dcf-width-3-5\@l {
    width: 60%;
  }
  .dcf-width-4-5\@l {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@l {
    width: calc(100% / 6);
  }
  .dcf-width-5-6\@l {
    width: calc(500% / 6);
  }
  /* Pixel */
  .dcf-width-small\@l {
    width: 150px;
  }
  .dcf-width-medium\@l {
    width: 300px;
  }
  .dcf-width-large\@l {
    width: 450px;
  }
  .dcf-width-xlarge\@l {
    width: 600px;
  }
  .dcf-width-2xlarge\@l {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@l {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@l {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@l,
  .dcf-width-1-2\@l,
  .dcf-width-1-3\@l,
  .dcf-width-2-3\@l,
  .dcf-width-1-4\@l,
  .dcf-width-3-4\@l,
  .dcf-width-1-5\@l,
  .dcf-width-2-5\@l,
  .dcf-width-3-5\@l,
  .dcf-width-4-5\@l,
  .dcf-width-1-6\@l,
  .dcf-width-5-6\@l,
  .dcf-width-small\@l,
  .dcf-width-medium\@l,
  .dcf-width-large\@l,
  .dcf-width-xlarge\@l,
  .dcf-width-2xlarge\@l,
  .dcf-width-auto\@l {
    flex: initial;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  /* Whole */
  .dcf-width-1-1\@xl {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@xl {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@xl {
    width: calc(100% / 3);
  }
  .dcf-width-2-3\@xl {
    width: calc(200% / 3);
  }
  /* Quarters */
  .dcf-width-1-4\@xl {
    width: 25%;
  }
  .dcf-width-3-4\@xl {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@xl {
    width: 20%;
  }
  .dcf-width-2-5\@xl {
    width: 40%;
  }
  .dcf-width-3-5\@xl {
    width: 60%;
  }
  .dcf-width-4-5\@xl {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@xl {
    width: calc(100% / 6);
  }
  .dcf-width-5-6\@xl {
    width: calc(500% / 6);
  }
  /* Pixel */
  .dcf-width-small\@xl {
    width: 150px;
  }
  .dcf-width-medium\@xl {
    width: 300px;
  }
  .dcf-width-large\@xl {
    width: 450px;
  }
  .dcf-width-xlarge\@xl {
    width: 600px;
  }
  .dcf-width-2xlarge\@xl {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@xl {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@xl {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@xl,
  .dcf-width-1-2\@xl,
  .dcf-width-1-3\@xl,
  .dcf-width-2-3\@xl,
  .dcf-width-1-4\@xl,
  .dcf-width-3-4\@xl,
  .dcf-width-1-5\@xl,
  .dcf-width-2-5\@xl,
  .dcf-width-3-5\@xl,
  .dcf-width-4-5\@xl,
  .dcf-width-1-6\@xl,
  .dcf-width-5-6\@xl,
  .dcf-width-small\@xl,
  .dcf-width-medium\@xl,
  .dcf-width-large\@xl,
  .dcf-width-xlarge\@xl,
  .dcf-width-2xlarge\@xl,
  .dcf-width-auto\@xl {
    flex: initial;
  }
}
/* Intrinsic Widths
 ========================================================================== */
.dcf-width-max-content {
  width: max-content;
}
.dcf-width-min-content {
  width: min-content;
}
/* ========================================================================
   Component: Height
 ========================================================================== */
[class*="dcf-height"] {
  box-sizing: border-box;
}
/*
 * Only works if parent element has a height set
 */
.dcf-height-1-1 {
  height: 100%;
}
/*
 * Useful to create image teasers
 */
.dcf-height-viewport {
  min-height: 100vh;
}
.dcf-height-viewport-2 {
  min-height: 200vh;
}
.dcf-height-viewport-3 {
  min-height: 300vh;
}
.dcf-height-viewport-4 {
  min-height: 400vh;
}
/*
 * Pixel
 * Useful for `overflow: auto`
 */
.dcf-height-small {
  height: 150px;
}
.dcf-height-medium {
  height: 300px;
}
.dcf-height-large {
  height: 450px;
}
.dcf-height-max-small {
  max-height: 150px;
}
.dcf-height-max-medium {
  max-height: 300px;
}
.dcf-height-max-large {
  max-height: 450px;
}

/* ========================================================================
   Component: Text
 ========================================================================== */
/* Style modifiers
 ========================================================================== */
 .dcf-text-lead {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--ion-color-dark-tint);
}
.dcf-text-meta {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--ion-color-medium);
}
.dcf-text-meta > a {
  color: var(--ion-color-medium);
}
.dcf-text-meta > a:hover {
  color: var(--ion-color-medium-shade);
  text-decoration: none;
}
/* Size modifiers
 ========================================================================== */
.dcf-text-small {
  font-size: 0.875rem;
  line-height: 1.5;
}
.dcf-text-large {
  font-size: 1.5rem;
  line-height: 1.5;
}
.dcf-text-default {
  font-size: 16px;
  line-height: 1.5;
}
/* Weight modifier
 ========================================================================== */
.dcf-text-light {
  font-weight: 300;
}
.dcf-text-normal {
  font-weight: 400;
}
.dcf-text-bold {
  font-weight: 700;
}
.dcf-text-lighter {
  font-weight: lighter;
}
.dcf-text-bolder {
  font-weight: bolder;
}
/* Style modifier
 ========================================================================== */
.dcf-text-italic {
  font-style: italic;
}
/* Transform modifier
 ========================================================================== */
.dcf-text-capitalize {
  text-transform: capitalize !important;
}
.dcf-text-uppercase {
  text-transform: uppercase !important;
}
.dcf-text-lowercase {
  text-transform: lowercase !important;
}


/* ========================================================================
   Component: Flex
 ========================================================================== */
 .dcf-flex {
  display: flex;
}
.dcf-flex-inline {
  display: inline-flex;
}
/*
 * Remove pseudo elements created by micro clearfix as precaution
 */
.dcf-flex::before,
.dcf-flex::after,
.dcf-flex-inline::before,
.dcf-flex-inline::after {
  display: none;
}
/* Alignment
 ========================================================================== */
/*
 * Align items along the main axis of the current line of the flex container
 * Row: Horizontal
 */
.dcf-flex-left {
  justify-content: flex-start;
}
.dcf-flex-center {
  justify-content: center;
}
.dcf-flex-right {
  justify-content: flex-end;
}
.dcf-flex-between {
  justify-content: space-between;
}
.dcf-flex-around {
  justify-content: space-around;
}
/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-flex-left\@s {
    justify-content: flex-start;
  }
  .dcf-flex-center\@s {
    justify-content: center;
  }
  .dcf-flex-right\@s {
    justify-content: flex-end;
  }
  .dcf-flex-between\@s {
    justify-content: space-between;
  }
  .dcf-flex-around\@s {
    justify-content: space-around;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 768px) {
  .dcf-flex-left\@m {
    justify-content: flex-start;
  }
  .dcf-flex-center\@m {
    justify-content: center;
  }
  .dcf-flex-right\@m {
    justify-content: flex-end;
  }
  .dcf-flex-between\@m {
    justify-content: space-between;
  }
  .dcf-flex-around\@m {
    justify-content: space-around;
  }
}
/* Desktop and bigger */
@media (min-width: 992px) {
  .dcf-flex-left\@l {
    justify-content: flex-start;
  }
  .dcf-flex-center\@l {
    justify-content: center;
  }
  .dcf-flex-right\@l {
    justify-content: flex-end;
  }
  .dcf-flex-between\@l {
    justify-content: space-between;
  }
  .dcf-flex-around\@l {
    justify-content: space-around;
  }
}
/* Large screen and bigger */
@media (min-width: 992px) {
  .dcf-flex-left\@xl {
    justify-content: flex-start;
  }
  .dcf-flex-center\@xl {
    justify-content: center;
  }
  .dcf-flex-right\@xl {
    justify-content: flex-end;
  }
  .dcf-flex-between\@xl {
    justify-content: space-between;
  }
  .dcf-flex-around\@xl {
    justify-content: space-around;
  }
}
/*
 * Align items in the cross axis of the current line of the flex container
 * Row: Vertical
 */
.dcf-flex-stretch {
  align-items: stretch;
}
.dcf-flex-top {
  align-items: flex-start;
}
.dcf-flex-middle {
  align-items: center;
}
.dcf-flex-bottom {
  align-items: flex-end;
}
/* Direction
 ========================================================================== */
.dcf-flex-row {
  flex-direction: row;
}
.dcf-flex-row-reverse {
  flex-direction: row-reverse;
}
.dcf-flex-column {
  flex-direction: column;
}
.dcf-flex-column-reverse {
  flex-direction: column-reverse;
}
/* Wrap
 ========================================================================== */
.dcf-flex-nowrap {
  flex-wrap: nowrap;
}
.dcf-flex-wrap {
  flex-wrap: wrap;
}
.dcf-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
/*
 * Aligns items within the flex container when there is extra space in the cross-axis
 * Only works if there is more than one line of flex items
 */
.dcf-flex-wrap-stretch {
  align-content: stretch;
}
.dcf-flex-wrap-top {
  align-content: flex-start;
}
.dcf-flex-wrap-middle {
  align-content: center;
}
.dcf-flex-wrap-bottom {
  align-content: flex-end;
}
.dcf-flex-wrap-between {
  align-content: space-between;
}
.dcf-flex-wrap-around {
  align-content: space-around;
}
/* Item ordering
 ========================================================================== */
/*
 * Default is 0
 */
.dcf-flex-first {
  order: -1;
}
.dcf-flex-last {
  order: 99;
}
/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-flex-first\@s {
    order: -1;
  }
  .dcf-flex-last\@s {
    order: 99;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 768px) {
  .dcf-flex-first\@m {
    order: -1;
  }
  .dcf-flex-last\@m {
    order: 99;
  }
}
/* Desktop and bigger */
@media (min-width: 992px) {
  .dcf-flex-first\@l {
    order: -1;
  }
  .dcf-flex-last\@l {
    order: 99;
  }
}
/* Large screen and bigger */
@media (min-width: 992px) {
  .dcf-flex-first\@xl {
    order: -1;
  }
  .dcf-flex-last\@xl {
    order: 99;
  }
}
/* Item dimensions
 ========================================================================== */
/*
 * Initial: 0 1 auto
 * Content dimensions, but shrinks
 */
/*
 * No Flex: 0 0 auto
 * Content dimensions
 */
.dcf-flex-none {
  flex: none;
}
/*
 * Relative Flex: 1 1 auto
 * Space is allocated considering content
 */
.dcf-flex-auto {
  flex: auto;
}
/*
 * Absolute Flex: 1 1 0%
 * Space is allocated solely based on flex
 */
.dcf-flex-1 {
  flex: 1;
}

/* ========================================================================
   Component: Grid
 ========================================================================== */
/*
 * 1. Allow cells to wrap into the next line
 * 2. Reset list
 */
 .dcf-grid {
  display: flex;
  /* 1 */
  flex-wrap: wrap;
  /* 2 */
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Grid cell
 * Note: Space is allocated solely based on content dimensions, but shrinks: 0 1 auto
 * Reset margin for e.g. paragraphs
 */
.dcf-grid > * {
  margin: 0;
}
/*
 * Remove margin from the last-child
 */
.dcf-grid > * > :last-child {
  margin-bottom: 0;
}
/* Gutter
 ========================================================================== */
/*
 * Default
 */
/* Horizontal */
.dcf-grid {
  margin-left: -30px;
}
.dcf-grid > * {
  padding-left: 30px;
}
/* Vertical */
.dcf-grid + .dcf-grid,
.dcf-grid > .dcf-grid-margin,
* + .dcf-grid-margin {
  margin-top: 30px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid {
    margin-left: -40px;
  }
  .dcf-grid > * {
    padding-left: 40px;
  }
  /* Vertical */
  .dcf-grid + .dcf-grid,
  .dcf-grid > .dcf-grid-margin,
  * + .dcf-grid-margin {
    margin-top: 40px;
  }
}
/*
 * Small
 */
/* Horizontal */
.dcf-grid-small,
.dcf-grid-column-small {
  margin-left: -15px;
}
.dcf-grid-small > *,
.dcf-grid-column-small > * {
  padding-left: 15px;
}
/* Vertical */
.dcf-grid + .dcf-grid-small,
.dcf-grid + .dcf-grid-row-small,
.dcf-grid-small > .dcf-grid-margin,
.dcf-grid-row-small > .dcf-grid-margin,
* + .dcf-grid-margin-small {
  margin-top: 15px;
}
/*
 * Medium
 */
/* Horizontal */
.dcf-grid-medium,
.dcf-grid-column-medium {
  margin-left: -30px;
}
.dcf-grid-medium > *,
.dcf-grid-column-medium > * {
  padding-left: 30px;
}
/* Vertical */
.dcf-grid + .dcf-grid-medium,
.dcf-grid + .dcf-grid-row-medium,
.dcf-grid-medium > .dcf-grid-margin,
.dcf-grid-row-medium > .dcf-grid-margin,
* + .dcf-grid-margin-medium {
  margin-top: 30px;
}
/*
 * Large
 */
/* Horizontal */
.dcf-grid-large,
.dcf-grid-column-large {
  margin-left: -40px;
}
.dcf-grid-large > *,
.dcf-grid-column-large > * {
  padding-left: 40px;
}
/* Vertical */
.dcf-grid + .dcf-grid-large,
.dcf-grid + .dcf-grid-row-large,
.dcf-grid-large > .dcf-grid-margin,
.dcf-grid-row-large > .dcf-grid-margin,
* + .dcf-grid-margin-large {
  margin-top: 40px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid-large,
  .dcf-grid-column-large {
    margin-left: -70px;
  }
  .dcf-grid-large > *,
  .dcf-grid-column-large > * {
    padding-left: 70px;
  }
  /* Vertical */
  .dcf-grid + .dcf-grid-large,
  .dcf-grid + .dcf-grid-row-large,
  .dcf-grid-large > .dcf-grid-margin,
  .dcf-grid-row-large > .dcf-grid-margin,
  * + .dcf-grid-margin-large {
    margin-top: 70px;
  }
}
/*
 * Collapse
 */
/* Horizontal */
.dcf-grid-collapse,
.dcf-grid-column-collapse {
  margin-left: 0;
}
.dcf-grid-collapse > *,
.dcf-grid-column-collapse > * {
  padding-left: 0;
}
/* Vertical */
.dcf-grid + .dcf-grid-collapse,
.dcf-grid + .dcf-grid-row-collapse,
.dcf-grid-collapse > .dcf-grid-margin,
.dcf-grid-row-collapse > .dcf-grid-margin {
  margin-top: 0;
}
/* Divider
 ========================================================================== */
.dcf-grid-divider > * {
  position: relative;
}
.dcf-grid-divider > :not(.dcf-first-column)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid #e5e5e5;
}
/* Vertical */
.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid #e5e5e5;
}
/*
 * Default
 */
/* Horizontal */
.dcf-grid-divider {
  margin-left: -60px;
}
.dcf-grid-divider > * {
  padding-left: 60px;
}
.dcf-grid-divider > :not(.dcf-first-column)::before {
  left: 30px;
}
/* Vertical */
.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 60px;
}
.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
  top: -30px;
  left: 60px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid-divider {
    margin-left: -80px;
  }
  .dcf-grid-divider > * {
    padding-left: 80px;
  }
  .dcf-grid-divider > :not(.dcf-first-column)::before {
    left: 40px;
  }
  /* Vertical */
  .dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin {
    margin-top: 80px;
  }
  .dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
    top: -40px;
    left: 80px;
  }
}
/*
 * Small
 */
/* Horizontal */
.dcf-grid-divider.dcf-grid-small,
.dcf-grid-divider.dcf-grid-column-small {
  margin-left: -30px;
}
.dcf-grid-divider.dcf-grid-small > *,
.dcf-grid-divider.dcf-grid-column-small > * {
  padding-left: 30px;
}
.dcf-grid-divider.dcf-grid-small > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-small > :not(.dcf-first-column)::before {
  left: 15px;
}
/* Vertical */
.dcf-grid-divider.dcf-grid-small.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-small.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 30px;
}
.dcf-grid-divider.dcf-grid-small.dcf-grid-stack > .dcf-grid-margin::before {
  top: -15px;
  left: 30px;
}
.dcf-grid-divider.dcf-grid-row-small.dcf-grid-stack > .dcf-grid-margin::before {
  top: -15px;
}
.dcf-grid-divider.dcf-grid-column-small.dcf-grid-stack > .dcf-grid-margin::before {
  left: 30px;
}
/*
 * Medium
 */
/* Horizontal */
.dcf-grid-divider.dcf-grid-medium,
.dcf-grid-divider.dcf-grid-column-medium {
  margin-left: -60px;
}
.dcf-grid-divider.dcf-grid-medium > *,
.dcf-grid-divider.dcf-grid-column-medium > * {
  padding-left: 60px;
}
.dcf-grid-divider.dcf-grid-medium > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-medium > :not(.dcf-first-column)::before {
  left: 30px;
}
/* Vertical */
.dcf-grid-divider.dcf-grid-medium.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-medium.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 60px;
}
.dcf-grid-divider.dcf-grid-medium.dcf-grid-stack > .dcf-grid-margin::before {
  top: -30px;
  left: 60px;
}
.dcf-grid-divider.dcf-grid-row-medium.dcf-grid-stack > .dcf-grid-margin::before {
  top: -30px;
}
.dcf-grid-divider.dcf-grid-column-medium.dcf-grid-stack > .dcf-grid-margin::before {
  left: 60px;
}
/*
 * Large
 */
/* Horizontal */
.dcf-grid-divider.dcf-grid-large,
.dcf-grid-divider.dcf-grid-column-large {
  margin-left: -80px;
}
.dcf-grid-divider.dcf-grid-large > *,
.dcf-grid-divider.dcf-grid-column-large > * {
  padding-left: 80px;
}
.dcf-grid-divider.dcf-grid-large > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-large > :not(.dcf-first-column)::before {
  left: 40px;
}
/* Vertical */
.dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 80px;
}
.dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin::before {
  top: -40px;
  left: 80px;
}
.dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin::before {
  top: -40px;
}
.dcf-grid-divider.dcf-grid-column-large.dcf-grid-stack > .dcf-grid-margin::before {
  left: 80px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid-divider.dcf-grid-large,
  .dcf-grid-divider.dcf-grid-column-large {
    margin-left: -140px;
  }
  .dcf-grid-divider.dcf-grid-large > *,
  .dcf-grid-divider.dcf-grid-column-large > * {
    padding-left: 140px;
  }
  .dcf-grid-divider.dcf-grid-large > :not(.dcf-first-column)::before,
  .dcf-grid-divider.dcf-grid-column-large > :not(.dcf-first-column)::before {
    left: 70px;
  }
  /* Vertical */
  .dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin,
  .dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin {
    margin-top: 140px;
  }
  .dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin::before {
    top: -70px;
    left: 140px;
  }
  .dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin::before {
    top: -70px;
  }
  .dcf-grid-divider.dcf-grid-column-large.dcf-grid-stack > .dcf-grid-margin::before {
    left: 140px;
  }
}
/* Match child of a grid cell
 ========================================================================== */
/*
 * Behave like a block element
 * 1. Wrap into the next line
 * 2. Take the full width, at least 100%. Only if no class from the Width component is set.
 * 3. Expand width even if larger than 100%, e.g. because of negative margin (Needed for nested grids)
 */
.dcf-grid-match > *,
.dcf-grid-item-match {
  display: flex;
  /* 1 */
  flex-wrap: wrap;
}
.dcf-grid-match > * > :not([class*="dcf-width"]),
.dcf-grid-item-match > :not([class*="dcf-width"]) {
  /* 2 */
  box-sizing: border-box;
  width: 100%;
  /* 3 */
  flex: auto;
}
